<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.scss">
</head>
<body>
    <div class="wrapper">
        <header>
            <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
            <p>{{ site.description }}</p>
            {% include navigation.html %}
        </header>
        
        <main>
            {{ content }}
        </main>
        
        <footer>
            {% include footer.html %}
        </footer>
    </div>
    <script src="{{ site.baseurl }}/assets/js/search.js"></script>
</body>
</html>